body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
webcam{
  z-index: 15;
  // width: 100vw;
}
// video{
//   width: 100vw;
//   height: 100vh;
//   z-index: 15;
// }

main{
  padding-bottom: 60px;
}

.nav-wrapper{
  z-index: 15;
}

.elevation{
  text-align: center;
  // float: right;
  width: 100vw;
  background-color: #ffffff28;
  position: absolute;
  z-index: 15;
}

button{
  z-index: 15;
  top: 70%;
  position: absolute;
  text-align: center;
}
// .file-field,input{
//   display: inline-block;
//   width: 56px;;
//   height: 56px;
// }
// .buttons{
//   // float: right;
//   display: absolute;
//   bottom: 20vh;
//   height: 100vh;
//   width: 100vw;
//   z-index: 25;
//   // left: 20px;

// }
// .buttons > button{
//   margin: 1rem;
//   z-index: 25;
//   width: 33vw;
//   display: inline-block;
//   position: relative;
//   bottom: 10vh;
//   // bottom: 100px;

// }

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 15;
  margin-top: 60px;
  height: 60px;
}
.buttons{
  position: absolute;
  width: 100%;
  bottom: 10vh;
  z-index: 15;
  padding-left: 2 rem;
  text-align: center;

}
.input-field{
  display: inline;
  
}
button{margin-left:1 rem;
}
.btn-floating{
  margin-left:10px;
}

// .camera-switch {
//   display: none;
// }