<header>
  <nav>
    <div class="nav-wrapper red">
      <a href="#" class="brand-logo">HAWK EYE</a>
    </div>
  </nav>
</header>

<main>
  <div *ngIf="photoUploaded" class="elevation">
    <h3>{{elevation}} &#176;</h3>
    <h6>SKY ELEVATION</h6>
  </div>


  <webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
    *ngIf="!photoClicked" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)">
  </webcam>

  <img [height]="height" [width]="width" [src]="camImage" *ngIf="photoClicked" />
  <div class="buttons">

  <button class="btn-floating btn-large waves-effect waves-light red" *ngIf="photoClicked" (click)="reset()"><i
      class="large material-icons">refresh</i></button>

  <button class="btn-floating btn-large waves-effect waves-light red" *ngIf="!photoClicked"
    (click)="triggerSnapshot();"><i class="large material-icons">camera_alt</i></button>


  <div class=" input-field">
    <div class="btn-floating btn-large waves-effect waves-light red file-field" *ngIf="!photoClicked">
      <span>
        <i class="large material-icons ">insert_photo</i>

        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
      </span>
    </div>
  </div>
  <button class="btn-floating btn-large waves-effect waves-light red" *ngIf="photoClicked" (click)="onUpload()">
    <i class="large material-icons">check</i></button>
  </div>

  <!-- <input *ngIf="!photoClicked" #file type="file"
    accept='image/*' (change)="preview(file.files)" /> -->


  <!-- </div> -->
</main>

<footer class="page-footer red">
  <div class="footer-copyright">
    <div class="container">
      TEAM SCORPION
      <a class="grey-text text-lighten-4 right" href="#!">SIH 2020</a>
    </div>
  </div>
</footer>