<h1>HawkEye</h1>

<h1>{{elevation}}</h1>

<webcam [height]="height" [width]="width" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
  *ngIf="!photoClicked" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
  [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
  (initError)="handleInitError($event)">
</webcam>

<img [height]="height" [width]="width" [src]="camImage" *ngIf="photoClicked" />

<button *ngIf="photoClicked" status="success" type="button" (click)="reset()">Reset</button>
<button *ngIf="!photoClicked" status="primary" class="actionBtn" (click)="triggerSnapshot();">Click Photo</button>
<input *ngIf="!photoClicked" #file type="file" accept='image/*' (change)="preview(file.files)" />
<button *ngIf="photoClicked" status="success" type="button" (click)="onUpload()">Upload</button>

<h2>Team Scorpion | SIH</h2>